<!-- Begin Page Content -->

<%- include('../template/header_auth') %>  <!-- Panggil header -->

<div style="margin: 24px auto 0;
">
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid"
     
           >
        
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <div class="card mb-3" >
              <div class="row no-gutters">
                
                <div class="col-md-4">
                  <!-- Jika ingin tampilkan foto aslab, bisa aktifkan ini -->
                  <img src="/kelas/image/<%= aslab.id %>" class="card-img rounded-circle p-3" alt="Foto Aslab">
                </div>
                
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= kelas.nama_kelas %></h5>
                    <p class="card-text"><%= aslab.nama %></p>
                    <p class="card-text">
                      <small class="text-muted"><%= kelas.deskripsi %></small>
                    </p>
                    <div class="row">
                      <form action="/mahasiswa/tambahTugas" method="post" class="col-md-12">
                        <div class="form-group">
                          <input type="hidden" name="idkelas" value="<%= id_kelas %>">

                          <label for="token">Token</label>
                          <input type="text" class="form-control" name="token" id="token" placeholder="Masukkan Token" required>
                          <small class="form-text text-muted">Tanya aslab bersangkutan terkait token</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                      </form>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<%- include('../template/footer_auth') %>  <!-- Panggil footer -->
