<%- include('../template/header_auth') %>  <!-- panggil header -->

<div class="container-fluid">

  <div class="d-sm-flex align-items-center justify-content-between mb-4"> 
    <h1 class="h3 mb-0 text-gray-800"><%= judul %></h1>
  </div>

  <form action="/aslab/tambahTugas/<%= id_kelas %>" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="/uploads/tugas/<%= t.image %>" alt="Card image cap">
        </div>
        <div class="custom-file mt-4">
          <input type="file" class="custom-file-input" id="image" name="image" />
          <label class="custom-file-label" for="image">Choose file</label>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="title">Judul</label>
          <input type="text" class="form-control" id="title" name="title" value="<%= typeof formData !== 'undefined' ? formData.title : '' %>" />
          <% if (errors && errors.title) { %>
            <small class="text-danger"><%= errors.title.msg %></small>
          <% } %>
        </div>

        <div class="form-group">
          <label for="description">Deskripsi</label>
          <input type="text" class="form-control" id="description" name="description" value="<%= typeof formData !== 'undefined' ? formData.description : '' %>" />
          <% if (errors && errors.description) { %>
            <small class="text-danger"><%= errors.description.msg %></small>
          <% } %>
        </div>

        <div class="form-group">
          <label for="bts_waktu">Tenggang Waktu</label>
          <input type="datetime-local" class="form-control" id="bts_waktu" name="bts_waktu" value="<%= typeof formData !== 'undefined' ? formData.bts_waktu : '' %>" />
          <% if (errors && errors.bts_waktu) { %>
            <small class="text-danger"><%= errors.bts_waktu.msg %></small>
          <% } %>
        </div>

        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="example" name="example" />
            <label class="custom-file-label" for="example">Example</label>
          </div>
          <% if (errors && errors.example) { %>
            <small class="text-danger"><%= errors.example.msg %></small>
          <% } %>
        </div>

        <div class="form-group d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">Tambah</button>
        </div>
      </div>
    </div>
  </form>

</div>
